<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAJhrHw1kmHSJRXZ8CwZkPCn63W1IGPsg</string>
	<key>GCM_SENDER_ID</key>
	<string>599650572980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphastudioz.ticketmart</string>
	<key>PROJECT_ID</key>
	<string>ticketmart-7feec</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketmart-7feec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599650572980:ios:b76d0251ec89f2f2a615e1</string>
</dict>
</plist>